# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set mysql_connection_string "server=127.0.0.1;database=vrp;userid=root;password=75915300R;"

start mapmanager
start chat
start spawnmanager
restart sessionmanager
start fivem
start hardcap
start rconlog
#start scoreboard
#start playernames

#Framework
start banking
start cruisecontrole
start els-fivem
start kneel
start roblox
start clothing
start biler
start textures
start InteractSound
start vrp_seatbelt
start wraith_alpr
start KoretojMenu
start uniform
start loadingscreen
start handlinger
start modelblacklist
start pNotify
start PTTPoliceRadio
start RealisticVehicleFailure
start seatshuffle
start timeanddate
start VK_interiors
start ymap
start vrp
start vrp_armorshop
start vRP_AdvancedFuel
start vrp_attitudes
start vrp_bank
start vrp_barbershop
start vrp_basic_menu
start vrp_basic_mission
start vrp_carwash
start vrp_dmvschool
start vRP_doorsControl-master
start vrp_drugfarms
start vrp_drugs
start vrp_garages
start vrp_holdup
start vrp_lscustoms
start vrp_id_display
start vrp_mysql
start vrp_paycheck
start vrp_scoreboard
start vrp_showroom
start vrp_tattoos
start vrp_loadfreeze
start vrp_phonecall
start vrp_towtruck
start custom
start vrp_barrier

sv_scriptHookAllowed 0

# change this
#rcon_password yay

# a comma-separated list of tags for your server
# for example: sets tags "drifting, cars, racing" or sets tags "roleplay, military, tanks"
sets tags "Diaox, Network, Roleplay"

# set an optional server info and connecting banner image url.
# size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://i.imgur.com/Ed8wTu9.png"
sets banner_connecting "https://i.imgur.com/BWc7jRB.png" 

sv_hostname "^0[DK] ^3Diaox Network ^1#1 | ^0Ingen ^0whitelist | ^4https://discord.gg/k6HYNBa"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon logo96.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this (your server will not be listed in the serverlist if you uncomment this!)
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam (don't forget, Social Club is a third party probvider too!)?
sv_authMaxVariance 1
sv_authMinTrust 5 

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# remove the # to hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (must be between 1 and 31)
sv_maxclients 32

# license key for server (https://keymaster.fivem.net)
sv_licenseKey 3bnspmfr1wyfgx84c3wl7dgi1hg02048